*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
}

header{
    height: 15vh;
    width: 100vw;
    padding: 10px;
    text-align: center;
    background-color: darkgrey;
    padding: 5vh;
    color: chocolate;
}

section{
    margin-top: 10vh;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    padding: 20vh;
    font-size: 20px;
    background-color: chocolate;
}

.btn{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}

.value{
    margin-bottom: 50px;
}

button{
    border-radius: 50px;
    width: 100px;
    height: 40px;
}

#count{
    font-size: 5rem;
}

button:hover{
    background-color: red;
}

@media screen and (max-width: 425px) {
    section{
        height: 200px;
        width: 100px;
        padding-top: 10px;
    }
    #count{
        font-size: 3rem;
    }
}